.wrapper {
  width: 420px;
  height: 450px;
  color: cadetblue;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.wrapper .input-box {
  font-weight: bolder;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  font-weight: bold;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px;
  outline: none;
  border: 2px solid cadetblue;
  border-radius: 60px;
}

.input-box input::placeholder {
  color: cadetblue;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: cadetblue;
  margin-right: 4px;
}

.remember-forgot a {
  color: cadetblue;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;

  &.active {
    background-color: cadetblue;

  }
}

button[disabled=disabled],
button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: cadetblue;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}