.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Sidebar {
  height: 100%;
  width: 140px;
  background-color: #2F4050;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  margin-top: 0;
}

.SidebarList .row-side {

  width: 100%;
  height: 48px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  border: 0.5px solid black;
  flex-direction: row;
  color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.SidebarList .row-side:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #03070b;
}

.row-side #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row-side #title {
  flex: 70%;
}




.app-bar a {
  color: white;
  text-decoration: none;
  flex-direction: column;
  position: relative;
  justify-items: right;
  align-items: center;
  margin-right: 30px;
  padding: 0.6rem;
  border-radius: 0.6rem;
  font-size: large
}

.app-bar a:hover {
  background-color: #293846;
}

.app-bar ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;

}

.app-bar {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 60px;
  background-color: #2F4050;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hcmut {
  width: 140px;
  height: 100%;
  text-align: center;
  ;
}

.hcmut-logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

a.logout.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
  border: 1px solid white;
  border-radius: 5px;
}

a.login1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
  border: 1px solid white;
  border-radius: 5px;
}

li.user-label {
  display: flex;
}

span.user-name {
  color: white;
  font-size: larger;
  margin-right: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  border: 1px solid white;
  border-radius: 5px;
}

.side-bar {
  width: 100%;
  height: 100%;
  display: flex;

}

.main-content {
  width: calc(100vw - 139px);
  /* height: calc(100vh - 60px); */
  height: 682.11px;
}

.container-login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('~/assets/login-bg.png');
}

.home-container {
  height: 100%;
  width: 100%;
}

.home-container .upper-content {
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.home-container .swiper-container {
  width: 100%;
}

.home-container .upper-content .center-content {
  text-align: center;

}

.home-container .upper-content .center-content h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-radar {
  width: 600px;
  height: 100%;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* Điều chỉnh kích thước của RadarChart */
.recharts-responsive-container {
  width: 100%;
  /* Đảm bảo rằng rechart chiếm toàn bộ chiều rộng của ô */
}

.dashboard-card1 {
  margin-bottom: 8px;
  margin-top: 5px;
}

.recharts-wrapper {
  width: 100%;
  height: 100%;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 0.9fr auto;
  background-color: #ebebeb;
}

.dashboard-cards {
  margin: 12px;
  margin-right: 15px;
  margin-bottom: 0px;
  /* Khoảng cách giữa dashboard-cards và lề ngoài của ô */
}

.dashboard-card {
  width: 740px;
  height: 220px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 0px;
  /* Khoảng cách giữa các dashboard-card */
}

.card-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-items: center;
  justify-content: space-around;

}

.row-card {
  display: flex;
  align-items: center;
  height: 100%;

}

#image {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#number {
  flex: 4;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard-card-link {
  display: flex;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  color: #03070b;
}

.dashboard-card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}



.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col {
  flex: 1;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.col .title {
  text-align: center;

}

.row1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row2 {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.station-name {
  text-align: center;
}

p.MuiTypography-root.MuiTypography-body1.titlte.css-ahj2mt-MuiTypography-root {
  margin-bottom: -32px;
}

.alarm-nav ul {
  display: flex;
  justify-content: space-between;
  /* Để các mục cách đều nhau */
  padding: 0;
  /* Loại bỏ padding mặc định của danh sách */
}

.row-alarm {
  width: 100%;
  list-style-type: none;
  display: flex;
  border: 0.5px solid black;
  flex-direction: row;
  color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.alarm-nav {
  background-color: #2F4050;
}

.AlarmList {
  padding: 0;
  margin: 0;

}

.AlarmList #active {
  background-color: #03070b;
}

.AlarmList .row-alarm:hover {
  cursor: pointer;
  background-color: #293846;
}

.row-alarm .active {
  background-color: black;
  color: #03070b;
}

.alarmbk-box {
  display: flex;
  justify-content: center;
  height: 100%;
}

.alarmbk-table {
  width: 100%;
  border-collapse: collapse;
}

.alarmbk-table th,
.alarmbk-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  /* Căn giữa nội dung trong cả cột */
}

.alarmbk-table th {
  background-color: #f2f2f2;
}

.alarmbk-table tr:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.alarmbk-table th:nth-child(4),
.alarmbk-table td:nth-child(4) {
  width: 40%;
  /* Đặt chiều rộng mong muốn cho cột "Name" */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: -10px;
}

.chart {
  width: 100%;
  height: 300px;
}

h6.MuiTypography-root.MuiTypography-h6.css-2ulfj5-MuiTypography-root {
  text-align: center;
}

.chart-container {
  background-color: gainsboro;
  height: 100%;

}

.chart-header {
  height: 35px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.back-to-dashboard-button {
  margin-right: 10px;
  /* Khoảng cách giữa nút và tiêu đề */
  background-color: gainsboro;
  /* Màu nền của nút */
  border: none;
  margin-top: 5px;
  /* Thêm hiệu ứng mượt mà khi hover */

}

.back-to-dashboard-button:hover {
  background-color: darkgray;
  /* Màu nền của nút khi hover */
  border-radius: 10px;
}

tr {
  background-color: red;
  border: 1px solid black;
}

th {
  width: 120px;
}

.scrollable-table {
  overflow-y: auto;
  height: 628.8px;
  width: 100%;
}

ul.AlarmList {
  height: 48px;
}

.alarm-main {
  height: 100vh;
}

.alarmbk-table th {
  background-color: #2F4050;
  border: 1px solid black;
  color: white;
}

.alarmbk-table th,
.alarmbk-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

thead {
  height: 48px;
  border: 1px solid black;
}

.report-bar {
  display: flex;
  align-items: center;
  /* background-color: #2F4050; */
  border: 1px solid black;
  /* border-radius: 4px; */
  height: 48px;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  background-color: #293846;
}

.report-container {
  height: 100%;
  margin-bottom: 10px;
}

input[type="text"] {
  height: 40px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 15px;
}

.spacer {
  margin-left: 5px;
  margin-right: 5px;
}

.start-date {
  margin-left: 10px;
}

.choose-station {
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid black;
}



.choose-option {
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid black;

}

.submit {
  margin-left: 20px;
}

.export {
  margin-left: 20px;
}


.react-datepicker__input-container input::placeholder {
  color: black;
}

.report-main {
  /* margin-top: 2px; */
  height: 100%;
  width: 100%;
  padding: 0;
}

.report-table th {
  background-color: #2F4050;
  border: 1px solid black;
  color: white;
}

.table-report-data {
  width: 100%;
  border-collapse: collapse;
}


.table-report-alarm {
  width: 100%;
}

.table-report-alarm th:nth-child(4),
.table-report-alarm td:nth-child(4) {
  width: 40%;
}

.table-report-data tr {
  background-color: wheat;
  text-align: center;
  height: 40px;
}

.table-report-data td {
  text-align: center;
  height: 40px;
  border: 2px solid black;
}

.table-report-data th {
  text-align: center;
  border: 1px solid black;
}


.report-bar .submit {
  background-color: white;
  margin-left: 20px;
  color: black;
  border: 1px solid black;
  height: 39px;
}

.report-bar .submit:hover {
  background-color: darkgray;
  border: 1px solid black;
}

.report-bar .export {
  margin-left: 5px;
  color: black;
  border: 1px solid black;
  height: 39px;
  background-color: white;
}

.report-bar .export:hover {
  background-color: darkgray;
  border: 1px solid black;
}

.metric-container {
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
}

.metric-bar {
  display: flex;
  justify-content: space-between;
}

.metric-container .metric-station {
  height: 49px;
  display: flex;
  align-items: center;
  margin-left: 60px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  margin-top: 2px;

}

.metric-container .metric-option {
  height: 49px;
  width: 342px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.station-list {

  width: 100%;
  height: 48px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  padding-left: 0;
}

.station-list li {
  color: rgba(86, 86, 86, 0.87);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}

.station-list li:hover {
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #ebebeb;
  border-radius: 5px;

}

.station-list #active {
  background-color: lightblue;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.option-list {
  width: 100%;
  height: 48px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  padding: 0;
}

.option-list li {
  color: rgba(86, 86, 86, 0.87);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  height: 47px;
}

.option-list #active {
  background-color: lightblue;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.option-list li:hover {
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #ebebeb;
  border-radius: 5px;

}

.metric-title {
  height: 40px;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  align-content: center;
}

.title-station-span {
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
}

.metric-main {
  height: 100%;
}

.firstrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.secondrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

svg {
  height: 100%;
}

.user-management {
  height: 48px;
  border: 1px solid black;
}

.user-tool {
  height: 48px;
  border: 1px solid black;
}