.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Sidebar {
  height: 100%;
  width: 140px;
  background-color: #2F4050;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  margin-top: 0;
}

.SidebarList .row-side {

  width: 100%;
  height: 48px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  border: 0.5px solid black;
  flex-direction: row;
  color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.SidebarList .row-side:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #03070b;
}

.row-side #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row-side #title {
  flex: 70%;
}




.app-bar a {
  color: white;
  text-decoration: none;
  flex-direction: column;
  position: relative;
  justify-items: right;
  align-items: center;
  margin-right: 30px;
  padding: 0.6rem;
  border-radius: 0.6rem;
  font-size: large
}

.app-bar a:hover {
  background-color: #293846;
}

.app-bar ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.app-bar {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 60px;
  background-color: #2F4050;
  width: 100%;
}

.side-bar {
  width: 100%;
  height: 100%;
  display: flex;

}

.main-content {
  width: calc(100vw - 140px);
  height: calc(100vh - 60px);
}

.container-login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('~/assets/login-bg.png');
}

.home-container {
  height: 100%;
  width: 100%;
}

.home-container .upper-content {
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.home-container .swiper-container {
  width: 100%;
}

.home-container .upper-content .center-content {
  text-align: center;

}

.home-container .upper-content .center-content h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-station {

  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;


}

.dashboard-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.dashboard-card1 {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.dashboard-card2 {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.dashboard-card3 {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.dashboard-card4 {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.card-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.row-card {
  display: flex;
  align-items: center;
  height: 100%;

}

#image {
  flex: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#number {
  flex: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard-card-link {
  display: flex;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  color: #03070b;
}

.dashboard-card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col {
  flex: 1;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.col .title {
  text-align: center;

}

.row1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row2 {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.station-name {
  text-align: center;
}

p.MuiTypography-root.MuiTypography-body1.titlte.css-ahj2mt-MuiTypography-root {
  margin-bottom: -32px;
}